.character{
  width: 100px;
  height: 100px;
  position:absolute;
  bottom: 20%;
  left: 13%;
  background-image: url('mario.webp');
  background-size: cover;
}

.jump{
  animation: jump 1000ms forwards;
}

body{
  background-image: url('background.jpg');
}

@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(360deg);
    }
}

.enemy{
  position: absolute;
  top: 60%;
  left: 100%;
  background-image: url('861-8619861_bullet-bill-super-mario-wiki-the-mario-encyclopedia.png.jpeg') ;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: darkslategray;
  animation: enemyanim 4s linear;
}

@keyframes enemyanim{

}